*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.navbar{

    background-color: #333;
    color: white;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border: black solid;
    position: sticky;
    top: 0;
    z-index: 1;

}
.logo{
    font-size: 1.5rem;
    width: 150px;
    color: white;
    border: red solid;
}
.nav-list{
    list-style: none;
    /* margin: 0;
    padding: 0; */
    display: flex;
    position: absolute;
    left: 250px;
}
#sa{
    color: aliceblue;
    position: absolute;
    /* border: red solid; */
    bottom: 0rcap;
    text-decoration: none;
}
#sa2{
    color: aliceblue;
    position: absolute;
    left: 150px;
    /* border: red solid; */
    bottom: 0rcap;
    text-decoration: none;
}
#sa3{
    color: aliceblue;
    position: absolute;
    left: 300px;
    /* border: red solid; */
    bottom: 0rcap;
    text-decoration: none;
}
#sa4{
    color: aliceblue;
    position: absolute;
    left: 450px;
    /* border: red solid; */
    bottom: 0rcap;
    text-decoration: none;
}
#sa5{
    color: aliceblue;
    position: absolute;
    left: 1150px;
    /* border: red solid; */
    bottom: 0rcap;
    text-decoration: none;
}

#dropdown{
    position: absolute;
    z-index: 1;
    display: none;
}
#dropdown a{
    color: red;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease-in-out;
}
.a:hover{
    background-color: wheat;
    /* height: 100px; */
}
#sa:hover #dropdown{
    background-color: #555;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px;
    z-index: 1;
}
#sa2:hover #dropdown{
    background-color: #555;
    margin-top: 0px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px;
    z-index: 1;
}
#sa3:hover #dropdown{
    background-color: #555;
    margin-top: 0px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px;
    z-index: 1;
}
#sa4:hover #dropdown{
    background-color: #555;
    margin-top: 0px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px;
    z-index: 1;
}
/* #sa5:hover #dropdown{
    background-color: #555;
    margin-top: 0px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px;
    z-index: 1;
} */

.a1{
    font-size: 25px;
    color: aliceblue;
}
.a2{
    font-size: 25px;
    color: aliceblue;
}
.a3{
    font-size: 25px;
    color: aliceblue;
}
.a4{
    font-size: 25px;
    color: aliceblue;
}
.a5{
    font-size: 25px;
    color: aliceblue;
}
.a{
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
}

a{
    text-decoration: none;
}
/* //////////////////////video/////////////// */
#vi{
    height: 860px;
    /* border: solid red; */
    align-items: center;
    background-color: rgb(122, 141, 158);
    /* box-shadow: 0px 0px 30px rgb(80, 74, 84); */
    background-size: cover;
    /* transform: skew(0deg,45deg); */
  }
  video{
    /* height: 650px; */
    /* width: 1400px; */
    /* margin-left: 40px; */
    /* border: red 5px solid; */
    /* box-shadow: 0px 0px 30px rgba(10, 6, 6, 0.281); */
    width: 100%;
     min-height: 100vh;
    
}
.sex{
    height: 40px;
    border: red solid;
}

